$color-bcg-primary: #ffffff;
$color-bcg-nav: #bdbdbd;
$color-bcg-button: #4b51ef;
$color-bcg-submit-disabled: #afafaf;
$color-bcg-submit-enabled: #52cf4f;
$color-bcg-card: #f3f3f3;
$color-text-title: #000000;
$color-text-button: #ffffff;
$color-text-secondary: #a3a3a3;
$color-form-border: #d8d8d8;
$color-form-border-er: #d91313;
