.lists__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex-direction: row;
}

.card-image {
  align-self: center;
  flex-shrink: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
