@import '../../../styles/constants';
@import '../../../styles/extends';

.content {
  width: 100%;
}

.users {
  @extend %page-section;
}
.card {
  position: relative;
  width: 100%;
  max-width: 420px;
  background-color: $color-bcg-card;
  border-radius: 8px;
  margin-bottom: 22px;
}
.card-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  color: $color-bcg-button;
}
.card-user {
  padding: 10px;
}
.card-user__name {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 7px;
  span {
    color: $color-text-secondary;
    margin-right: 7px;
  }
}
