@import '../../../styles/constants';

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.nav {
  background-color: $color-bcg-nav;
}
.btn {
  padding: 10px;
  background-color: $color-bcg-button;
  color: $color-text-button;
  &.active {
    background-color: darken($color-bcg-button, 25);
    &:hover {
      cursor: default;
    }
  }
}
